body{
    /*font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-seriff, cursive;*/
    background: url("couple.png") no-repeat left bottom;
  background-size: contain;
    background-color:#f8acf8;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #fbdcf9;
  -webkit-text-stroke: 0.001px  #110043;

  
  
}

p{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #110043;
  margin-right: 15%;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: -2;         
}
.couple-img {
  size: 100%;
    position: fixed;
    bottom: -10;
    left: 0;          
    height: 110vh;     
    z-index: -1;      
    pointer-events: none; 
}

.container{
  position: relative;
  margin-bottom: 5%;
  margin-left: 35%;
  
}


.hearts-bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}
.hearts-bg span {
  position: absolute;
  bottom: -10%;
  font-size: 50px;
  color: rgba(9, 0, 0, 0.6);
  animation: floatUp 10s  linear infinite, blink 2.5s ease-in-out infinite
  ;
}

/* Different positions & delays */
.hearts-bg span:nth-child(1) { left: 10%; animation-delay: 0s; }
.hearts-bg span:nth-child(2) { left: 25%; animation-delay: 2s; }
.hearts-bg span:nth-child(3) { left: 45%; animation-delay: 4s; }
.hearts-bg span:nth-child(4) { left: 65%; animation-delay: 1s; }
.hearts-bg span:nth-child(5) { left: 80%; animation-delay: 3s; }
.hearts-bg span:nth-child(6) { left: 90%; animation-delay: 5s; }

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0.4;
  }
  20% {
    opacity: 1.4;
  }
  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0.4;
  }
}

@keyframes blink {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.8; }
}