body{
    /*font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-seriff, cursive;*/
    background: url("couple.png") no-repeat left bottom;
  background-size: contain;
    background-color:#f8acf8;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #fbdcf9;
  -webkit-text-stroke: 0.001px  #110043;

  
  
}

p{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #110043;
  margin-right: 15%;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: -2;         
}
.couple-img {
  size: 100%;
    position: fixed;
    bottom: -10;
    left: 0;          
    height: 110vh;     
    z-index: -1;      
    pointer-events: none; 
}

.container{
  position: relative;
  margin-bottom: 5%;
  margin-left: 35%;
  
}


