body{
    /*font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-seriff, cursive;*/
    
  

    background-color:#f8acf8;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    
    
    
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: -2;         
}
.couple-img {
  size: 100%;
    position: fixed;
    bottom: -10;
    left: 0;          
    height: 110vh;     
    z-index: -1;      
    pointer-events: none; 
}

.container{
  position: relative;
  margin-bottom: 5%;
  margin-left: 35%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #fbdcf9;
  -webkit-text-stroke: 0.001px #110043;
}

p{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #110043;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top:10px;
    position:relative;
    height: 120px;
}

.Yes{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    right: 55%;
    border: 2px solid #110043;
    background: #fbdcf9;
    color: #110043;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    
}

.No{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 55%;
    font-size: 16px;
    border: 2px solid #110043;
    background: #fbdcf9;
    color: #110043;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    
}

.Yes:hover{
    background:#fefefe;
    color: #110043;
}

.No:hover{
    background:#fbfbfb;
    color: #110043;
}

.status{
    margin-top: 20px;
    font-size: 0.5rem;
    color: #888;
}


@media (max-width: 768px) {
    body {
        
        overflow-x: hidden; 
        align-items: center;
    }

    .container {
        
        margin-left: 0 ;
        margin-right: 0 ;
        width: 100%;
        padding: 20px;
        justify-content: center;
    }

    h1 {
        font-size: 40px; 
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; 
        gap: 10px;
        height: auto;
    }

    .Yes, .No {
        
        position: relative ;
        left: auto;
        right: auto ;
        padding: 15px 30px;
        font-size: 14px;
    }

    .couple-img {
        
        height: 90vh; 
        left: 46%;
        transform: translateX(-35%);
        opacity: 0.8; 
        bottom:2%;
    }
}
